@font-face {
    font-family: nyt-franklin;
    src: url(./assets/fonts/franklin-normal-700.ttf);
    font-weight: 700;
}

body {
    font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
}
* {
    border: #dc143c dashed 3px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    justify-content: space-between;
}
li {
    list-style: none;
}
.menu-container {
    display: flex;
}
.menu-group {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.menu-icon {
    width: 33px;
    height: 33px;
}

.nyt-logo {
    height: 30px;
    width: 223px;
}
.space-cosmos {
    font-size: 14.25px;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}
article {
    margin-left: 25vw;
    margin-right: 25vw;
    font-size: 20px;
}
